body{
    background: url('/images/aboutme.jpg') no-repeat;
    background-size: 100% 100%
}
body a i{
    color: black;
    position:absolute;
    top: 3em;
    left: 3em;
}
.aboutme{
    position: absolute;
    right: 3em;
    top: 30%;
}