.article-bg{
  width: 100%;
  height: 40%;
}
.article{
  width: 100%;
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: 1px solid #DDD;
  padding-bottom: 3em;
}
.article-meta{
  display: flex;
}
.article p{
  line-height: 2em;
  text-indent: 2em;
}
.article-title{
  margin-top: 3em;
  color: #555555;
}

.article-info{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.commentList{
  margin-top: 2em;
  border-bottom: 1px solid #DDD;
}
.commentList .commentTitle{
  color: #444444;
}
.acomment{
  margin-top: 2em;
  margin-bottom: 2em;
}
.acommentFlex{
  display: flex;
  align-items:center
}
.acomment img{
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.acommentCon{
  width: 100%;
  border: 1px solid #DDDDDD;
  padding: 2em;
  box-shadow: 4px 4px 10px #ccc
}
.comment{
  margin-top: 3em;
}