extends ../layout1

append css
  link(rel='stylesheet', href='/css/admin.css')
  link(rel='stylesheet', href='/css/fileinput.min.css')
append js
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8" src="/utf8-php/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/utf8-php/ueditor.all.min.js"> </script>
  <script type="text/javascript" charset="utf-8" src="/utf8-php/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/fileinput.min.js"></script>
block main
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') 张智超博客系统管理员后台
        if totalUV > 0
          span.navbar-brand 今日uv #{dayUv}
          span.navbar-brand 历史uv #{totalUV}
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          if user
            li
              a= user.name
            li
              a(href='/logout') 
                i.fa.fa-unlock-alt
                | &nbsp;注销
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li(class={active: pathName === "/admin/article"})
            a(href='/admin/article')
              i.fa.fa-files-o
              | &nbsp;文章列表 
              span.sr-only (current)
          li(class={active: pathName === "/admin/article/add"})
            a(href='/admin/article/add') 
              i.fa.fa-file-o
              | &nbsp;添加文章
          li(class={active: pathName === "/admin/category"})
            a(href='/admin/category') 
              i.fa.fa-th-list
              | &nbsp;分类列表
          li(class={active: pathName === "/admin/category/add"})
            a(href='/admin/category/add') 
              i.fa.fa-plus
              | &nbsp;添加分类
          li(class={active: pathName === "/admin/message"})
            a(href='/admin/message') 
              i.fa.fa-comments
              | &nbsp;留言管理
          li(class={active: pathName === "/admin/user"})
            a(href='/admin/user') 
              i.fa.fa-users
              | &nbsp;用户列表
          li(class={active: pathName === "/admin/uv"})
            a(href='/admin/uv') 
              i.fa.fa-users
              | &nbsp;今日访客
        ul.nav.nav-sidebar
          li(class={active: pathName === "/admin/user/password"})
            a(href='/admin/user/password') 
              i.fa.fa-lock
              | &nbsp;修改密码
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        block content
