extends ./layout

block content
  table.table.table-bordered
    thead
      tr
        th ip
        th 省份
        th 城市
    tbody
    each visitor in visitors
      tr
        td #{visitor.ip}
        th #{visitor.province}
        td #{visitor.city}
  //- if pageCount > 1
  //-   nav
  //-     ul.pagination
  //-       - var currentPage = 1
  //-       while currentPage < pageCount
  //-         if (currentPage === pageNum)
  //-           li.active
  //-              a(href="/admin/posts?page=" + currentPage + "&category=" + filter.category + "&author=" + filter.author + "&sortby=" + sortby + "&sortdir" + sortdir)= currentPage++
  //-         else
  //-           li
  //-              a(href="/admin/posts?page=" + currentPage + "&category=" + filter.category + "&author=" + filter.author +"&sortby=" + sortby + "&sortdir=" + sortdir)= currentPage++

  script(src="/js/querystring.js")
  script(src="/js/admin/post.js")

