extends ./layout

block content
  if err
    p.alert.alert-danger #{err}
  if info
    p.alert.alert-success #{info}
  span 今日uv
  table.table.table-bordered
    thead
      tr
        th(width="20%") 省
        th(width="20%") 市
    tbody
    each add in address
      tr
        td #{add.province}
        td #{add.city}


