extends ../layout1

append css
  link(rel="stylesheet", href="/css/about.css")
block main
  .backHome
    a(href="/")
      li.fa.fa-arrow-left &nbsp;返回首页
  .col-lg-3.col-sm-4.col-md-4.left
    p 姓名：张智超
    p 邮箱：jiayouzzc@126.com
  .col-lg-9.col-sm-8.col-md-8.right
    h1 张智超
    h5(style="margin-bottom: 3em;") 利用NodeJs构建高性能web端，移动端，pc端各种应用，提高用户体验。
    ul
      li
        a(href="https://github.com/MrZhangZc", target="_blank")
         i.fa.fa-github
      li
        i.fa.fa-weixin.wechat
