extends ../layout1

append css
  link(rel="stylesheet", href="/css/about.css")
block main
  //- a(href="/")
  //-   i.fa.fa-arrow-left &nbsp;&nbsp;&nbsp;BACK TO HOME
  //- .aboutme
  //-   .aboutme-title
  //-     h3 Hi,我叫张智超
  //-     h3 来自内蒙古包头市
  //-     h3 毕业于内蒙古农业大学
  //-     h3 感谢访问我的博客
  //-     h3 欢迎给我留言

