extends ../layout

append css
  link(rel="stylesheet", href="/css/home.css")
  link(rel="stylesheet", href="/js/mf-pattern/mF_51xflash.css")
append js
  script(src="/js/myfocus-2.0.4.min.js")
  script(src="/js/mf-pattern/mF_51xflash.js")
  script.
    myFocus.set({id:'boxID', pattern:'mF_51xflash'})
block main
  .home-header
    .home-header-center
      .home-header-left
        p zzc
      .home-header-right
        a(href="https://github.com/MrZhangZc", target="_blank")
          i(aria-hidden="true").fa.fa-github
        a(href="http://grafana.lihailezzc.com/d/6EfjJmZWz/blog?orgId=1", target="_blank")
          i(aria-hidden="true").fa.fa-area-chart.fa-bar-chart  
        a(href="http://kibana.lihailezzc.com/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!(level,msg,proj),index:'931355f0-7567-11e9-9c97-51c780d77cbb',interval:auto,query:(language:lucene,query:''),sort:!('@timestamp',desc))", target="_blank")
          i(aria-hidden="true").fa.fa-bar-chart  
        i(aria-hidden="true").fa.fa-twitter
        i(aria-hidden="true").fa.fa-linkedin
        i(aria-hidden="true").fa.fa-search
  .home-front
    .home-front.img
    .home-nav
      a(href="/") HOME
      a(href="/") ABOUT ME
      a(href="/") CONTACT ME
  #boxID
    .loading
      img(src="/images/loading.gif" alt="请稍等...")
    .pic
      ul
        li
          img(src="/images/slide1.jpg" text="这是图片1的说明")
        li
          img(src="/images/slide2.jpg" text="这是图片2的说明")
        li
          img(src="/images/slide3.jpg" text="这是图片3的说明")
        li
          img(src="/images/slide1.jpg" text="这是图片3的说明")