extends ../layout

append css
  link(rel="stylesheet", href="/css/home.css")
  link(rel="stylesheet", href="/js/mf-pattern/mF_51xflash.css")
append js
  script(src="/js/myfocus-2.0.4.min.js")
  script(src="/js/mf-pattern/mF_51xflash.js")
  script.
    myFocus.set({id:'boxID', pattern:'mF_51xflash'})
block main
  #boxID
    .loading
      img(src="/images/loading.gif" alt="请稍等...")
    .pic
      ul
        li
          img(src="/images/slide1.jpg" text="这是图片1的说明")
        li
          img(src="/images/slide2.jpg" text="这是图片2的说明")
        li
          img(src="/images/slide3.jpg" text="这是图片3的说明")
        li
          img(src="/images/slide1.jpg" text="这是图片3的说明")