extends ../layout

append css
  link(rel="stylesheet", href="/css/message.css")
block main
  .message-bg
    h1 留言板
  .container
    .row
      .message.col-lg-8.col-12
        each message in messages
          div.card.text-center(style='margin-top:2em')
            div.card-header #{message.email}
            div.card-body
              img(src= 'http://file.lihailezzc.com/1.png', alt="头像" ,style='border-radius: 50%; width: 4em;height: 4em;')
              p.card-text #{message.content}
            div.card-footer.text-muted #{moment(message.createdAt).format('YYYY-MM-DD')}
        .comment
          form.form-signin(method="post", action= action)
            h3.form-signin-heading(style="margin-bottom:1em;") 留言
            div.input-group.mb-3
              <input type="email" name="email" class="form-control" placeholder="你的邮箱" aria-label="你的邮箱" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
              </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">内容</span>
              </div>
              <textarea name="content" class="form-control" aria-label="内容"></textarea>
            </div>

            button.btn.btn-primary.btn-block(type="submit", style="margin-top:1em;width:10%") 确定
        //- .comment
        //-   form.form-signin(method="post", action= action)
        //-     h2.form-signin-heading 留言
              
        //-     label.sr-only(for="content") 内容
        //-     textarea.form-control(name="content", cols="30", rows="10", required="")

        //-     button.btn.btn-lg.btn-primary.btn-block(type="submit", style="margin-top:3em;") 确定