extends ../layout

append css
  link(rel="stylesheet", href="/css/register.css")
block main
  .register
    h1 注册
    p.registerp #{errinfo}
    form.form(method="post", action="/register" style="margin-top:20%;")
      label(for="signupName") 用户名
      input#signupName.input-sing(name="user[name]", type="text",required='true')
      label(for="signupPassword") 密码&nbsp;&nbsp;&nbsp;
      input#signupPassword.input-sing(name="user[password]", type="password",required='true')
      button.btn.btn-success.btn-signin(type="submit") 注册
    //- form(method="post", action="uploadimg", enctype="multipart/form-data")
    //-   input(type="file" name="file") 
    //-   input(type="submit" value="ok") 