extends ../layout

block content
  form.vertical-form(method="post", action='/admin/category/edit/' + category._id)
    .form-group
      label(for="title") 标题
      input.form-control.input-lg(name="name", required='true',placeholder="请输入名字。。。" value=category.name)

    button.btn.btn-lg.btn-info(type="submit") 确认修改