extends ../layout

block content
  h2.page.header 分类列表

  table.table.table-bordered
    thead
      tr
        th 名称
        th 别名
        th 创建时间
        th 管理
    tbody
    each category in categories
      tr
        td #{category.title}
        td #{category.slug}
        td #{moment(category.created).format('YYYY-MM-DD HH:mm:ss')}
        td
          a.btn.btn-sm.btn-success(href="/posts/category/" + category.title, target="_blank") 查看
          &nbsp;&nbsp;
          a.btn.btn-sm.btn-info(href="/admin/categories/edit/" + category._id, target="_blank") 编辑
          &nbsp;&nbsp;
          a.btn.btn-sm.btn-danger(href="/admin/categories/delete/" + category._id,) 删除
