extends ../layout

block content
  if info
    p.alert.alert-danger #{info}
  table.table.table-bordered
    thead
      tr
        th 留言人
        th 留言时间
        th 留言内容
        th 管理
    tbody
    each message in messages
      tr
        td #{message.from.nickname}
        td #{moment(message.created).format('YYYY-MM-DD HH:mm:ss')}
        td #{message.content}
        td
          a.btn.btn-sm.btn-danger(href="/admin/message/delete/" + message._id) 删除