<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    block css
      //- link(rel="stylesheet", href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css")
      //- link(rel="stylesheet", href="/css/responsive.css")
      link(rel="stylesheet", href="/css/bootstrap.min.css")
      link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/base.css')
      link(rel="stylesheet", href="/css/style.css")
    block js
    title #{title}
  body
    block main
    //- footer.theme-footer
    //-   .container
    //-     .logo
    //-       a(href="/")
    //-         img(src="/images/zzc.png", alt="", srcset="")
    //-     p.footer-text Blog and Portfolio Theme
    //-     ul.social-icon
    //-       li.icon
    //-         a
    //-           i.fa.fa-github
    //-       li.icon
    //-         a
    //-           i.fa.fa-github
    //-       li.icon
    //-         a
    //-           i.fa.fa-github
    //-       li.icon
    //-         a
    //-           i.fa.fa-github
    //-     p.copyright Copyright © 2018.Company name All rights reserved.